

 <nav class="navbar navbar-default navbar-collapse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">HomeAutomation</a>
          </div>
            <ol class="nav navbar-nav">
              <li><p class="navbar-btn">
                <a href="/" class="btn btn-default">Home</a>
                </p>
              </li>
              <li> <p class="navbar-btn">
                <a href="/lighting" class="btn btn-default">Lighting</a>
                </p>
              </li>
            </ol>
        </div>
</nav>